# Настройки безопасности
SECRET_KEY=secret_key_123
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# База данных
# Для SQLite: 		sqlite:///./gene_vault.db
# Для PostgreSQL: 	postgresql://user:password@db:5432/gene_vault
DATABASE_URL=sqlite:///./gene_vault.db
